<h4 class="text-center">Current regions</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Region</th>
            <th scope="col">Details</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
                {{ user.username }}
            </td>
            <td>
                <a class="btn btn-info" [routerLink]="['/user/details', user.id]">Details</a>
            </td>
            <td>
                <a class="btn btn-info" [routerLink]="['/user/delete', user.id]">Delete</a>
            </td>
        </tr>
    </tbody>
</table>




