<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- <form #regionForm="ngForm" class="text-center border border-light p-5" (ngSubmit)="addRegion()"> -->
            <div class="alert alert-danger" role="alert" *ngIf="errorOccurred">
                Invalid data! Please check you inputs again!
            </div>
            <form #fishpondForm="ngForm" (ngSubmit)="addFish()" class="text-center border border-light p-5">

                <p>Add fish</p>


                <input #inputName="ngModel" [(ngModel)]="fish.name" id="name" type="text" name="name"
                    placeholder="Enter name" class="form-control mb-4" required>
                <p class="error-message" *ngIf="inputName.invalid && inputName.touched">Please enter name!</p>
                <label for="description">Description</label>
                <textarea class="form-control" rows="5" #inputDescription="ngModel" id="description"
                    [(ngModel)]="fish.description" name="description" placeholder="Enter description" required>
                </textarea>
                <p class="error-message" *ngIf="inputDescription.invalid && inputDescription.touched">Please enter
                    description!</p>
                <label for="bate">Bate</label>
                <textarea class="form-control" rows="3" #inputBate="ngModel" id="bate" [(ngModel)]="fish.bate"
                    name="bate" placeholder="Enter bate" required>
                </textarea>
                <p class="error-message" *ngIf="inputBate.invalid && inputBate.touched">Please enter bate!</p>
                <label for="description">Gear</label>
                <textarea class="form-control" rows="3" #inputGear="ngModel" id="gear" [(ngModel)]="fish.gear"
                    name="gear" placeholder="Enter gear" required>
                 </textarea>
                <p class="error-message" *ngIf="inputGear.invalid && inputGear.touched">Please enter gear!</p>

                <label for="description">Select fishponds</label>
                <select class="custom-select"  name="selectedFishponds" [(ngModel)]="selectedFishponds" multiple>
                    <option *ngFor="let fishpond of fishponds" (click)="clickedOption()" [ngValue]="fishpond.id">
                        {{fishpond.name}}</option>
                </select>
                <div *ngIf="!selectedFishponds" class="alert alert-warning" role="alert">
                    Please choose fishponds!
                </div>



                <div class="form-label-group">
                    <label for="customFile" id="exercisePictureLabel">Picture</label>
                    <div class="custom-file" id="customFileContainer">
                        <input type="file" class="custom-file-input form-control" id="customFile"
                            name="exercisePictureFile" #inputPicture="ngModel" [(ngModel)]="file" accept="*"
                            (change)="handleFileInput($event.target.files, chooseFileLabel)">
                        <label class="custom-file-label" for="customFile" id="çhooseFileLabel" #chooseFileLabel>Choose
                            file</label>
                        <p class="error-message" *ngIf="!file && inputPicture.touched">Please add a picture!</p>
                    </div>
                </div>

                <button class="btn btn-info btn-block my-4" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>