<div class="container">
    <p class="h4 mb-4 text-center">Contact Us</p>
    <br />
    <div class="row">
        <div class="col-md-6">
            <div class="mapouter"><div class="gmap_canvas"><iframe width="433" height="417" id="gmap_canvas" src="https://maps.google.com/maps?q=sofia&t=&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.divi-discount.com">eleganta temoj</a></div><style>.mapouter{position:relative;text-align:right;height:417px;width:433px;}.gmap_canvas {overflow:hidden;background:none!important;height:417px;width:433px;}</style></div>
        </div>
        <br />
        <div class="col-md-6">
            <form class="my-form">
                <div class="form-group">
                    <label for="form-name">Name</label>
                    <input type="email" class="form-control" id="form-name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="form-email">Email Address</label>
                    <input type="email" class="form-control" id="form-email" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <label for="form-subject">Telephone</label>
                    <input type="text" class="form-control" id="form-subject" placeholder="Subject">
                </div>
                <div class="form-group">
                    <label for="form-message">Email your Message</label>
                    <textarea class="form-control" id="form-message" placeholder="Message"></textarea>
                </div>
                <button class="btn btn-default" type="button">Contact Us</button>                
            </form>
        </div>
    </div>
</div>