<div class="container">

    <div class="row">

        <div class="col-md-4 mb30">
            <div class="card">
                <div class="card-content pt20 pb20 profile-header" *ngIf="userProfile">
                    <img [src]="userProfile.profilePictureURL" alt="" class="img-fluid rounded-circle">
                    <h4 class="card-title text-center mb20">{{userProfile.name}}</h4>
                    <p>
                        {{userProfile.information}}
                    </p>
                    <hr>
                    <div class="row">
                        <div class="col-md-4 mb20">
                            <h5>947</h5>
                            <h6 class="text-small text-muted">Followers</h6>
                        </div>
                        <div class="col-md-4 mb20">
                            <h5>583</h5>
                            <h6 class="text-small text-muted">Tweets</h6>
                        </div>
                        <div class="col-md-4 mb20">
                            <h5>48</h5>
                            <h6 class="text-small text-muted">Posts</h6>
                        </div>
                    </div>
                    <a routerLink="/profile/edit" class="btn btn-primary btn-rounded">Edit profile</a>
                    <hr>
                    <a routerLink="/profile/catch" class="btn btn-primary btn-rounded">Add new catch</a>
                    <hr>

                </div>
                <div *ngIf="!userProfile">
                    Create your profile!
                    <br>
                    <a routerLink="/profile/edit" class="btn btn-primary btn-rounded">Create profile</a>
                    <hr>
                </div>
            </div>
        </div>


        <div class="col-md-8 mb30">
            <div class="card">

                <div *ngIf="!userProfile">
                    <ul class="nav tabs-admin" role="tablist">
                        <li role="presentation" class="nav-item"><a class="nav-link active" href="#t1"
                                aria-controls="t1" role="tab" data-toggle="tab">Activities</a></li>
                    </ul>

                </div>



                <div *ngIf="userProfile">
                    <ul class="nav tabs-admin" role="tablist">
                        <li role="presentation" class="nav-item"><a class="nav-link active" href="#t1"
                                aria-controls="t1" role="tab" data-toggle="tab">Activities</a></li>
                    </ul>
                    <div class="tab-content admin-tab-content pt30">
                        <div role="tabpanel" class="tab-pane active show" id="t1">
                            <ul class="activity-list list-unstyled" *ngFor="let catch of catches">
                                <li class="clearfix">
                                    <div class="float-left">
                                        <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt=""
                                                class="img-fluid rounded-circle"></a>
                                    </div>
                                    <div class="act-content">
                                        <div class="font400">

                                            <a href="#" class="font600">John Doe</a> Sent you a direct Image
                                        </div>
                                        <span class="text-small">11 Min Ago</span>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                            nibh euismod tincidunt ut.
                                        </p>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt=""
                                            class="img-fluid img-thumbnail">
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="float-left">
                                        <a href="#"><img [src]="userProfile.profilePictureURL" alt=""
                                                class="img-fluid rounded-circle"></a>
                                    </div>
                                    <div class="act-content">
                                        <div class="font400">

                                            <a href="#" class="font600">{{userProfile.name}}</a>{{catch.title}}
                                        </div>
                                        <p>
                                            {{catch.description}}
                                        </p>
                                        <img [src]="catch.imageUrl" height="300px" width="300px" alt=""
                                            class="img-fluid img-thumbnail">
                                    </div>
                                    <div class="act-content clearfix">
                                        <div class="font400">

                                            <a href="#" class="font600">Catched in {{catch.fishpond.name}}</a>
                                        </div>
                                        <p>
                                            <img [src]="catch.fishpond.imageUrl" height="150px" width="150px" alt=""
                                            class="img-fluid img-thumbnail">
                                        </p>
                                        
                                    </div>
                                </li>
                                <!-- <li class="clearfix">
                                    <div class="float-left">
                                        <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt=""
                                                class="img-fluid rounded-circle"></a>
                                    </div>
                                    <div class="act-content">
                                        <div class="font400">

                                            <a href="#" class="font600">Robin jackson</a> Started Following You
                                        </div>
                                        <span class="text-small">11 Min Ago, On <a href="#">Twitter</a></span>
                                        <p class="mb0">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                            nibh euismod tincidunt ut.
                                        </p>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="float-left">
                                        <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt=""
                                                class="img-fluid rounded-circle"></a>
                                    </div>
                                    <div class="act-content">
                                        <div class="font400">

                                            <a href="#" class="font600">Pamela jackson</a> Sent you a private message
                                        </div>
                                        <span class="text-small">11 Min Ago, On <a href="#">Facebook</a></span>
                                        <p class="mb20">
                                            " Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s. Over the years, sometimes by accident, sometimes on purpose (injected
                                            humour and the like).
                                        </p>
                                        <a href="#" class="btn btn-sm btn-secondary">Reply</a>
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>