<!-- <p>{{region?.name}}</p> -->


<div class="album py-5 bg-light">

  <div class="container">
    <div class="alert alert-danger" role="alert" *ngIf="errorOccurred">
      No availabe content!
    </div>
    <h1 class="font-weight-light text-center">Fishing Ponds</h1>
    <h3 class="font-weight-light text-center">{{region?.name}}</h3>
    <h3 *ngIf="!fishponds" class="font-weight-light text-center">No fishponds for this region</h3>
    <div class="row">
      <div class="col-md-4" *ngFor="let fishpond of fishponds">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="{{fishpond.imageUrl}}" width="200px" height="200px" alt="Card image cap">
          <div class="card-body">
            <h5 class="font-weight-light text-center">{{fishpond.name}}</h5>
            <p class="font-weight-light">{{fishpond.description  | slice:0:100}}...</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              <a class="btn btn-sm btn-outline-secondary" [routerLink]="['/fishpond/details', fishpond.id]">View</a>
              <a *ngIf="userRole === 'ROLE_ROOT'" class="btn btn-sm btn-outline-secondary" [routerLink]="['/fishpond/edit', fishpond.id]">Edit</a>
              
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>