<div class="container">
    <div class="row">
        <!-- <div class="col-md-8 mb30">
            <div class="card">
                <div>
                    
                    <ul class="nav tabs-admin" role="tablist">
                        <li role="presentation" class="nav-item"><a class="nav-link active" href="#t1"
                                aria-controls="t1" role="tab" data-toggle="tab">{{fish.name}}</a></li>
                    </ul>
                    
                    <div class="tab-content admin-tab-content pt30">
                        <div role="tabpanel" class="tab-pane active show" id="t1">
                            <ul class="activity-list list-unstyled">
                                <li class="clearfix">
                                    <div class="act-content">
                                        <div class="font400">
                                            <img [src]="fish.imageUrl" alt=""
                                            class="img-fluid img-thumbnail">
                                    
                                        </div>
                                        
                                        <p>
                                            {{fish.name}}
                                        </p>
                                        
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div class="act-content">
                                        <div class="font400">
            
                                            <a href="#" class="font600">Robin jackson</a> Started Following You
                                        </div>
                                        <span class="text-small">11 Min Ago, On <a href="#">Twitter</a></span>
                                        <p class="mb0">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                            nibh euismod tincidunt ut.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="t4">
                        </div>
                    </div>
            
                </div>
            </div>
        </div> -->

        <div class="col-md-8 mb30">
            <h3 class="font-weight-light text-center card">{{fish.name}}</h3>
            <div class="text-center">
                <img [src]="fish.imageUrl" alt=""
                class="img-thumbnail" width="500px" height="400px">
        
            </div>
            <div class="font-weight-light  card">
                <h5 class="font-weight-light">Description</h5>
                <hr>
                <p>{{fish.description}}</p>
            </div>
            <div class="font-weight-light  card">
                <h5 class="font-weight-light">Bate</h5>
                <hr>
                <p>{{fish.bate}}</p>
            </div>
            <div class="font-weight-light  card">
                <h5 class="font-weight-light">Gear</h5>
                <hr>
                <p>{{fish.gear}}</p>
            </div>
            

        </div>
        



        <div class="col-md-4 mb30">
            
            <h5 class="font-weight-light text-center card">Also can be found in these fishponds</h5>
            <div class="card" *ngFor="let fishpond of fish.fishponds">
                <div class="card-content pt20 pb20 profile-header">
                    <img [src]="fishpond.imageUrl" alt=""
                        class="img-fluid rounded-circle">
                    <h4 class="card-title text-center mb20">{{fishpond.name}}</h4>
                    <p>
                        {{fishpond.description | slice:0:100 }}...
                        <!-- {{fishpond.description | limitTo: 20 }}{{fishpond.description > 20 ? '...' : ''}} -->
                    </p>
                    <hr>
                    <div class="text-center">
                        <a [routerLink]="['/fishpond/details', fishpond.id]" class="btn btn-info btn-rounded">More info</a>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>






