<form class="text-center border border-light p-5" #registerForm="ngForm" (ngSubmit)="register()">

    <p class="h4 mb-4">Registration</p>
    
    
    <input #usernameInput='ngModel' id="username" type="text" [(ngModel)]="registerModel.username" name="username"  class="form-control mb-4" placeholder="Enter username" required minlength="4">
    <p class="error-message" *ngIf="usernameInput.invalid && usernameInput.touched">Username should be at least 4 symbols!</p>

    <input #emailInput='ngModel' id="email" type="email" [(ngModel)]="registerModel.email" name="email"  class="form-control mb-4" placeholder="Enter email" pattern="[a-zA-Z0-9.-_]{2,}@[a-zA-Z0-9_]+\.[a-zA-z]+" required>
    <p class="error-message" *ngIf="emailInput.invalid && emailInput.touched">Please enter valid email!</p>

    <input #passwordInput='ngModel' id="password" type="password" [(ngModel)]="registerModel.password" name="password"  class="form-control mb-4" placeholder="Enter password" required >
    <p class="error-message" *ngIf="passwordInput.invalid && passwordInput.touched">Please enter password!</p>
    
    <!-- <div *ngIf="signupForm.get('password').hasError('required')">Please provide a password.</div>
    <div *ngIf="signupForm.get('password').hasError('minlength')">Password must be at least 6 characters long.</div> -->

    <input #rePasswordInput='ngModel' id="confirmPassword" type="password" [(ngModel)]="registerModel.confirmPassword" name="confirmPassword"  class="form-control mb-4" placeholder="Enter password" required >
    <p class="error-message" *ngIf="rePasswordInput.value !== passwordInput.value && passwordInput.touched && rePasswordInput.touched">Passwords dont match!</p>
    <p class="error-message" *ngIf="rePasswordInput.invalid && rePasswordInput.touched">Please enter password!</p>
    <!-- <div *ngIf="signupForm.get('password').hasError('required')">Please provide a password.</div>
    <div *ngIf="signupForm.get('password').hasError('minlength')">Password must be at least 6 characters long.</div> -->

    <!-- <input id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="Confirm password">
    <div *ngIf="noMatch()"> Password and repeat password don't match.</div> -->
    

    

    
    <button class="btn btn-info btn-block my-4" type="submit">Register</button>

    
    <p>Already Registered? <a routerLink="/login">Login</a>.</p>

    <!-- Social login -->
    <!-- <p>or sign in with:</p> -->

    <!-- <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
    <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a> -->

</form>