<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- <form #regionForm="ngForm" class="text-center border border-light p-5" (ngSubmit)="addRegion()"> -->
      <form #fishpondForm="ngForm" (ngSubmit)="addFishpond()" class="text-center border border-light p-5">

        <p>Add fishpond</p>

        <!-- <input #regionInput='ngModel' id=" region" type="text" [(ngModel)]="regionModel.name" name="region"
          placeholder="Enter region" class="form-control mb-4" required> -->
        <input #inputName="ngModel" [(ngModel)]="fishpondAddModel.name" id="name" type="text" name="name"
          placeholder="Enter name" class="form-control mb-4" required>
        <input #inputDescription="ngModel"  id="description" [(ngModel)]="fishpondAddModel.description" type="text"
          name="description" placeholder="Enter description" class="form-control mb-4" required>

        <div class="form-group">
          <label for="sel1">Select region:</label>
          <select class="form-control" id="sel1" #inputOption="ngModel" name="region" [(ngModel)]="fishpondAddModel.regionName">
            <option *ngFor="let region of regions">{{region.name}}</option>
          </select>
        </div>

        <div class="form-label-group">
          <label for="customFile" id="exercisePictureLabel">Picture</label>
          <div class="custom-file" id="customFileContainer">
            <input type="file" class="custom-file-input form-control" id="customFile" name="exercisePictureFile"
              #inputPicture="ngModel"  [(ngModel)]="file" accept="*" (change)="handleFileInput($event.target.files, chooseFileLabel)">
            <label class="custom-file-label" for="customFile" id="çhooseFileLabel" #chooseFileLabel>Choose
              file</label>
          </div>
        </div>

        <button class="btn btn-info btn-block my-4" type="submit">Save</button>
      </form>
    </div>
  </div>
</div>